@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:checked + label {
    background-color: #04af2f;
    color: white;
    font-weight: bold;
}
body {
    @apply font-tajawal bg-neutral-100 text-neutral-800;
}
::-webkit-scrollbar {
    width: 0px;
}
select {
    direction: rtl;
    background-position: left 0.5rem center;
    padding-left: 20px;
    text-align: right;
}
@font-face {
    font-family: "amiri-bold";
    src: url("/fonts/Amiri-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "amiri-reg";
    src: url("/fonts/Amiri-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
#toplevel {
    scroll-behavior: smooth;
}
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}
